#outer {
  display:flex;
  align-items:center;
}

.floor {
  text-align:center;
  background:#8cb9d2;
  border:black solid 1pt;
}

#active {
  background:#d98748;
}

#exit {
  width:inherit;
}

#xholder {
  border:black 2px solid;
  background:gray;
  width:30px;
}


.popoutHolder {
  width:40%;
  margin:0 auto;
  background:#8cb9d2;
  align-items:flex-end;
}

.popoutHolder img {
  width:100%;
}

#sceneex {
      position:absolute;
      top : 0px;
      left:0px;
      height:75px;
}
